.bag{ color: green
    ;text-align: center;font-size: x-large;}
.boy{ color: coral;
    text-align: center;font-style: italic;
    text-decoration: solid;
    font-size: xx-large;
      }    
body{background-color: darkmagenta;}
h2{color: darkcyan;}

.god{
    color: darkred;
}
h1{
    text-align: center;color: coral;

}
.bud{color: red;
text-align: center;
text-decoration-line: underline;}