*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: white;
    color: #333;
    text-align: center;

}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    padding: 15px 5%;
    box-shadow:0px 20px 10px rgb(0,0,0,0.1) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    

}
.logo{
    font-size: 28px;
    font-weight: bold;
    color:black;
}
nav ul{
    list-style: none;
    display: flex;  
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: skyblue;
    font-size:16px ;
    transition: 0s;
    cursor: progress;

}
nav ul li a:hover{
    color:black;

}
.menu-icon{
    font-size: 28px;
    display: none;
    cursor: progress;
}
.hero{
    position: inherit;
    height: 90vh;
    background-image:url("istockphoto-1360738821-1024x1024.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-shadow: #000;
}
.hero h1{
    font-size: 48px;
    font-weight: bold;
    color: skyblue;
}
.hero p{
    color: white;
    font-size: 16px;
    margin: 18px 0;
    
}
.btn{
    background-color:skyblue ;
    border: 0px;
    margin: 30px;
    padding:  8px 30px;
    border-radius: 8px;
    color: white;
    
}



.offers h2{
    text-align: left;
    text-shadow: 4px;
    color:black;
    margin: 20px 30px 10px 60px;
    


}
.offer{
    background-color: white;
    justify-content: center;
    padding: 60px 10px;
    margin: 0px 4px;
    box-shadow: 0px 2px 8px rgb(0,0,0,0.1);
    padding: 15px;
    width: 220px;


}
.offer img{
    width: 50px;
    margin-bottom: 15px;
    width: 200px;

}
.box{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    
    

}
a.Gift.html{
    color: red;
}



